<!DOCTYPE html>
<html>
<head>
  <title>Sosa's Tailoring</title>
  <script src="https://kit.fontawesome.com/486a6f6d4c.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Sacramento&display=swap" rel="stylesheet">
</head>

<body>


  <!--- SMALL NAV --->
  <div class="sm-nav-mobile shadow-lg fixed-top">
    <div class="pos-f-t shadow-lg">
      <div class="collapse shadow" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link sm-nav-links" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sm-nav-links" href="#location">Hours & Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sm-nav-phone" href="tel:336-942-9558"><i class="fas fa-phone-alt"></i> (336) 942-9558</a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="navbar sm-nav-bar shadow-lg">
        <a class="navbar-brand sm-nav-title" href="#">Sosa's Tailoring</a>
        <button class="navbar-toggler icon-button" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
    </div>
  </div>

  <!--- NORMAL NAV --->
  <div id="appear-nav">
    <div id="inside-nav" class="my-nav hide shadow-lg">
      <nav class="navbar navbar-expand pop-up-nav shadow-lg">
      <a class="navbar-brand pop-up-nav-title" href="#">Sosa's Tailoring</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link pop-up-text" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pop-up-text" href="#location">Hours & Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pop-up-phone" href="#"><i class="fas fa-phone-alt"></i> (336) 942-9558</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="header">
    <div class="nav-p">
      <h1 class="header-title">Sosa's<br>Tailoring</h1>
      <ul class="nav-list">
        <li class="nav-font"><a href="#gallery">Gallery</a></li>
        <li class="nav-font"><a href="#location">Location & Hours</a></li>
      </ul>
    </div>
    <p class="header-phone"><i class="fas fa-phone-alt"></i> (336) 942-9558</p>
  </div>

  <!--- APP TRANSITION --->
  <div class="app-image shadow"></div>

  <!--- GALLERY TITLE --->
  <h5 id="gallery" class="text-center body-titles">Gallery</h5>

    <!--- APP GALLERY --->
  <div id="carouselExampleIndicators" class="carousel slide body-slide shadow-lg" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/images/image1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/images/image2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/images/image3.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/images/image4.jpg" alt="Forth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/images/image5.jpg" alt="Fifth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/images/image6.jpg" alt="Sixth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/images/image7.JPG" alt="Seventh slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/images/image8.JPG" alt="Eighth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/images/image9.JPG" alt="Ninth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/images/image10.JPG" alt="Tenth slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- WEB GALLERY -->
  <div class="container web-gallery">
    <div class="row text-center text-lg-left">
      <div class="col-lg-4 col-md-4 col-4">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail web-gal shadow-lg" src="/static/images/image1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-4">
        <div href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail web-gal shadow-lg" src="/static/images/image2.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-4">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail shadow-lg web-gal" src="/static/images/image3.jpg" alt="">
        </div>
      </div>
          <div class="col-lg-3 col-md-6 col-6">
        <div href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail shadow-lg web-gal" src="/static/images/image7.JPG" alt="">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <div href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail shadow-lg web-gal" src="/static/images/image8.JPG" alt="">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <div href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail shadow-lg web-gal" src="/static/images/image9.JPG" alt="">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <div href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail shadow-lg web-gal" src="/static/images/image10.JPG" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-4">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail shadow-lg web-gal" src="/static/images/image4.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-4">
        <div class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail shadow-lg web-gal" src="/static/images/image5.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-4">
        <div href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail shadow-lg web-gal" src="/static/images/image6.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

    <!-- LOCATION AND HOURS --->
  <h5 id="location" class="text-center body-titles">Hours & Location</h5>
  <div class="card shadow-lg text-center body-cards body-card-one">
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-map-marked-alt"></i> Address</h5>
      <p class="card-text text-center">209 Century Blvd Suite K, Kernersville, NC 27284</p>
    </div>
  </div>
  <div class="card shadow-lg body-cards">
    <div class="card-body">
      <h5 class="text-center card-title"><i class="fas fa-calendar-alt"></i> Business Hours</h5>
      <div class="row">
        <div class="col-6">
          <div class="pt-1 card-days text-right ">
              <p class="card-text mb-1">Monday</p>
              <p class="card-text mb-1">Tuesday</p>
              <p class="card-text mb-1">Wednesday</p>
              <p class="card-text mb-1">Thursday</p>
              <p class="card-text mb-1">Friday</p>
              <p class="card-text mb-1">Saturday</p>
              <p class="card-text mb-1">Sunday</p>
          </div>
        </div>
        <div class="col-6">
          <div class="pt-1 card-hours text-left">
              <p class="card-text mb-1">9AM&#8208;6PM</p>
              <p class="card-text mb-1">8AM&#8208;6PM</p>
              <p class="card-text mb-1">8AM&#8208;6PM</p>
              <p class="card-text mb-1">8AM&#8208;6PM</p>
              <p class="card-text mb-1">8AM&#8208;6PM</p>
              <p class="card-text mb-1">8AM&#8208;4PM</p>
              <p class="card-text mb-1">Closed</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- GOOGLE MAP --->
  <div>
    <iframe class="shadow-lg body-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1611.688960161358!2d-80.08746513784122!3d36.10864960617593!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64e5d4bbbd5b8e9d!2sSosa%E2%80%99s+Tailoring!5e0!3m2!1sen!2sus!4v1561834988145!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <!-- FOOTER --->
  <footer class="text-center">
    <p class="footer-title">&#169 Sosa's Tailoring</p>
  </footer>

  <!--- JAVASCRIP, ALLOWS FOR NAV TO SHOW WHEN SCROLLING DOWN!! --->
  <script>
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    myID = document.getElementById("inside-nav");


      var myScrollFunc = function() {
        var y = window.scrollY;
        if (y >= (.30*h)) {
        myID.className = "my-nav show"
      }
      else {
        myID.className = "my-nav hide"
      }
    };

    window.addEventListener("scroll", myScrollFunc);
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
